DEV_ENV
ADMIN_KEY # used for administrative purposes
INTEGRATION_KEY # used by third party for verification purposes
GROQ_API_KEY

SITE_URL
ALLOW_SITE_URIS
MAILERSEND_API_KEY
MAILERSEND_FROM_EMAIL

STRIPE_API_VERSION
STRIPE_WEBHOOK_SECRET
STRIPE_SECRET_KEY

BASE_SERVICE_URL

ESIGN_ADMIN_KEY
ESIGN_REDIRECT_URL

FIREBASE_ADMIN_PROJECT_ID
FIREBASE_ADMIN_CLIENT_EMAIL
